<p *ngIf="!tours"><em>Loading...</em></p>


<select id="coutrySelect">
  <option *ngFor="let tour of tours">{{tour.counry.countryName}}</option>
</select>

<select onchange="func()" id="hotelSelect">
  <ng-container  *ngFor="let tour of tours">
    <option>{{tour.hotel.hotelName}}</option>
  </ng-container>
  <option>123321</option>
</select>

<select id="resortSelect">
  <ng-container *ngFor="let tour of tours">
    <option>{{tour.resort.resortName}}</option>
  </ng-container>
</select>

<button type="submit" class="btn btn-primary" (click)="func()">Search</button>

<table class='table' *ngIf="vouchers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Country</th>
      <th>Hotel</th>
      <th>Resort</th>
      <th>Begin Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody *ngFor="let voucher of vouchers">

    <tr>
      <td>{{ tour.id }}</td>
      <td>{{ tour.countryName }}</td>
      <td>{{ tour.hotelName }}</td>
      <td>{{ tour.resortName }}</td>
      <td><input type="text" class="form-control" id="begindate" placeholder="tour.beginDate" name="begindate" #begindate /></td>
      <td><input type="text" class="form-control" id="enddate" placeholder=" input end date" name="enddate" #enddate /></td>
      <td><button type="submit" class="btn btn-primary" (click)="func(tour.id,begindate.value,enddate.value)">Make an order</button></td>
    </tr>
  </tbody>
</table>
