<h1>Почему мы отправляемся в путешествия?</h1>

<p>
  Не потому ли, что путешествие – это не просто перемещение в пространстве, а состояние души?
  Нам кажется, что цель пути – открыть иные страны, посмотреть на непохожую жизнь, но внезапно мы обнаруживаем, что главное открытие – это мы сами.
  Так в путешествии мы открываем себя. А еще путешествие – это всегда эмоции: выплеск чувств, толчок адреналина, холодок восторга, ветер свободы в ушах.
  Одним словом, путешествие – это образ жизни. Да что там, это просто – жизнь!
</p>
<p>
  Европа трогательна, беспечна и непредсказуема. Она создана для кружений, гуляний, прерываемых пинтой «гиннеса», доброй порцией горячего грога, бокалом терпкого вина или чашкой кофе.
  Италия, Франция, Греция, Швейцария, Австрия… Страны, в которых можно совсем по-другому ощутить время.
  Оно живет на нарядных улицах Вены, мощеных площадях Мадрида, в древних соборах и аббатствах.
</p>




